.bg-header {
    background-color: black;
  }
  
  .navbar {
    width: 50%;
  }
  
  .btn-nav {
    color: #ECC696;
    padding: 16px;
    font-size: 22px;
    text-decoration: none !important;
    border: none;
  }
  
  .btn-nav:hover {
    color: #f97e6c;
  }
  
  .dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    text-decoration: none !important;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    text-decoration: none !important;
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
  }
  
  /* main css */
  .fa-times-circle {
    font-size: 25px;
    margin-top: 25px;
    color: gray;
  }
  
  /* .button {
    width: 100px;
  } */
  
  .btn-fake {
    padding: 4px;
    width: 30px;
    border: 1px solid grey;
  }
  
  .inp input {
    padding: 3px;
    width: 50px;
    text-align: center;
  }
  
  .inp .left {
    margin-right: -5px;
  }
  
  .inp .right {
    margin-left: -5px;
  }
  
  .tinh,
  .tong {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .gia {
    font-size: 25px;
    color: #f97e6c;
  }
  
  .pay {
    width: 350px;
    padding: 15px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  
  .buy {
    width: 350px;
    padding: 7px;
    border: none;
    color: white;
    background-color: #bc0d0d;
    cursor: pointer;
  }
  
  .credit {
    width: 350px;
    padding: 7px;
    border: none;
    color: white;
    background-color: #00b0f0;
    cursor: pointer;
  }
  
  .continue {
    width: 350px;
    padding: 15px;
    border: 1px solid black;
    color: black;
    background-color: white;
    cursor: pointer;
  }
  
  @media screen and (max-width:320px) {
    .fa-times-circle {
      display: none;
    }
  
    .btn-fake {
      padding: 4px;
      width: 16px;
      border: 1px solid grey;
    }
  
    .inp input {
      padding: 3px;
      width: 25px;
      text-align: center;
    }
  }
  
  .text-center {
    margin-top: 10px;
  }
  
  .input .qty {
    width: 100px !important;
    padding: 5px 10px;
    border: none;
    border: 1px solid white;
  }
  
  .payment-gr {
    /* width: 30%; */
  }
  
  /* Footer css */
  .input input {
    width: 450px;
    padding: 5px 10px;
    border: none;
    border: 1px solid white;
  }
  
  .input button {
    padding: 6px 25px;
    border: none;
    background-color: black;
    color: white;
  }
  
  .section {
    background-color: #f97e6c;
    padding: 14px;
  }
  
  .section h4 {
    color: white;
  }
  
  .footer {
    background-color: black;
  }
  
  .image img {
    width: 200px;
  }
  
  .address,
  .time,
  .mobie {
    margin-top: 15px;
  }
  
  .location,
  .clock,
  .phone {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f97e6c;
    color: white;
    margin-right: 10px;
  }
  
  span {
    color: #e5e5e5;
  }
  
  h4 {
    color: white;
  }
  
  .shop i {
    display: none;
  }
  
  .help i {
    display: none;
  }
  
  .more i {
    display: none;
  }
  
  .shop ul {
    list-style: none;
    padding: 0px;
  }
  
  .help ul {
    list-style: none;
    padding: 0px;
  }
  
  .more ul {
    list-style: none;
    padding: 0px;
  }
  
  .shop ul li {
    margin-top: 15px;
  }
  
  .help ul li {
    margin-top: 15px;
  }
  
  .more ul li {
    margin-top: 15px;
  }
  
  .shop ul li a {
    color: #ecc696;
    text-decoration: none;
  }
  
  .help ul li a {
    color: #ecc696;
    text-decoration: none;
  }
  
  .more ul li a {
    color: #ecc696;
    text-decoration: none;
  }
  
  .shop ul li:hover a {
    color: #f97e6c;
  }
  
  .help ul li:hover a {
    color: #f97e6c;
  }
  
  .more ul li:hover a {
    color: #f97e6c;
  }
  
  .social ul {
    padding: 0px;
  }
  
  .social ul li {
    display: inline-block;
    padding: 0px 5px;
  }
  
  .yt,
  .fb,
  .ins {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f97e6c;
    color: white;
  }
  
  @media screen and (max-width:320px) {
    .section h4 {
      font-size: 15px;
    }
  
    .input input {
      width: 200px;
      padding: 5px 8px;
      border: none;
      border: 1px solid white;
    }
  
    .input button {
      padding: 6px 15px;
  
    }
  
    .row {
      justify-content: space-between;
    }
  
    .shop i {
      display: block;
    }
  
    .help i {
      display: block;
    }
  
    .more i {
      display: block;
    }
  
    .shop ul li a {
      display: none;
    }
  
    .help ul li a {
      display: none;
    }
  
    .more ul li a {
      display: none;
    }
  }
  
  .line-height-0 {
    line-height: unset !important;
  }
  
  .click {
    border: 1px solid white;
  }